<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <h1>Add Employee</h1>
</head>

<body>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" name="name" id="name" value="<%=value.name%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        <input type="text" name="username" id="username" value="<%=value.username%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" name="password" id="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password:
                    </td>
                    <td>
                        <input type="password" name="cPassword" id="cPassword">
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone:
                    </td>
                    <td>
                        <input type="text" name="phone" id="phone" value="<%=value.phone%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Gender:
                    </td>
                    <td>
                        <select name="gender" id="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Designation:
                    </td>
                    <td>
                        <input type="text" name="designation" id="designation" value="<%=value.designation%>">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div style="color: red;">
        <% if (errors.length > 0) { %> 
                <ul>
                    <% errors.forEach(error => { %>
                        <li>
                            <%=error%>
                        </li>
                    <% }); %>
                <lil>
            <% } %> 
    </div>
</body>
</html>